{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>الصفحة الرئيسية</title>
  <!--Seo meta tags-->
  <meta name="description" content="Bootstrap News Template make your news site project easy, fast loading and look professional">
  <meta name="keywords" content="bootstrap news, bootstrap portal, bootstrap blog, bootstrap magazine">
  <!--Required Meta Tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Robot meta tags-->
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <!--App manifest-->
  <link rel="manifest" href="{% static 'assets/js/manifest.json' %}">
  <!--Favicon-->
  <link rel="shortcut icon" href="{% static 'assets/img/favicon/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
  <link rel="mask-icon" href="{% static 'assets/img/favicon/safari-pinned-tab.svg' %}" color="#2196f3">
  <meta name="msapplication-config" content="{% static 'assets/img/favicon/browserconfig.xml' %}" />
  <meta name="msapplication-TileImage" content="{% static 'assets/img/favicon/ms-icon-144x144.png' %}">
  <meta name="msapplication-TileColor" content="#2196f3">
  <meta name="theme-color" content="#ffffff">
  <!--Google Fonts-->
  <link href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C400i%2C600%2C700%7CRoboto%3A400%2C400i%2C500%2C700" rel="stylesheet">
  <!--Bootstrap Styles-->
  <link rel="stylesheet" href="{% static 'assets/rtl/bootstrap.css' %}">
  <!--Vendor Styles-->
  <link rel="stylesheet" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">
  <!--Theme Styles-->
  <link rel="stylesheet" href="{% static 'assets/rtl/theme.css' %}">
  <!--Bootstrap customizer-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-customizer/css/bootstrap-customizer.css' %}">

</head>
<body class="boxed bg-repeat font-family">
  <!--Skippy-->
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Skip to main content</span>
    </div>
  </a>


  <!--Background image-->
  <div class="bg-image"></div>
  <!-- ========== WRAPPER ========== -->
  <div class="wrapper">
    <!--Header start-->
    <header class="header">
      <!--top mobile menu start-->
      <div class="top-menu bg-white">
        <div class="container">
          <!--Navbar Mobile-->
          <nav class="navbar navbar-expand d-lg-none navbar-light px-0">
            <div id="navbar-mobile" class="collapse navbar-collapse nav-top-mobile">
              <!--Top left menu-->
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"    href="#">من نحن</a></li>
                <li class="nav-item"><a class="nav-link" href="#"> توصل معنا</a></li>
              </ul>
              <!--Top right menu-->
              <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item"><a class="nav-link" href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://vimeo.com" target="_blank"><i class="fab fa-vimeo"></i></a></li>
              </ul>
              <!--end top right menu-->
            </div>
          </nav>
          <!-- End Navbar Mobile-->
        </div>



      </div>
      <!-- end top mobile menu -->

      <!-- top menu -->
     <div class="top-menu bg-secondary">
        <div class="container">
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark px-0 py-0 ">
            <!--Hamburger button-->
            <a id="showLeftPush" class="navbar-toggler side-hamburger border-0 px-0" href="#" >
              <span class="hamburger-icon">
                <span></span><span></span><span></span><span></span>
              </span>
            </a>
            <!-- Mobile logo -->
            <a href="index.html">
              <img class="mobile-logo img-fluid d-lg-none mx-auto" src="{% static 'assets/img/logo/default-logo.png'%}" alt="Logo site">
            </a>
            <!--Right Toggle Button-->
            <button class="navbar-toggler px-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo2" aria-controls="navbarTogglerDemo2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-search"></span>
            </button>
            <!--Top Navbar-->


            <div id="navbarTogglerDemo" class="collapse navbar-collapse">
              <!-- Time -->

              <!--Top left menu-->

              <ul class="nav navbar-nav">

                <li class="nav-item"><a class="nav-link active" href="#">   {{ date|date:"D d M Y" }} </a></li>
                <li class="nav-item"><a class="nav-link active" href="#">الصفحة الرئيسية</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/about-us.html"> عن الصحيفة</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/contact-us.html">تواصل معنا</a></li>

              </ul>
              <!--end top left menu-->
              <!--Top right menu-->
              <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item"><a class="nav-link" href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://vimeo.com" target="_blank"><i class="fab fa-vimeo"></i></a></li>
              </ul>
              <!--end top right menu-->
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
      <!--end top menu-->

      <!--start second header-->
      <div class="second-header">
        <div class="container">
          <div class="row">
            <!--Left content logo-->
            <div class="col-lg-4">
              <div id="main-logo" class="main-logo my-2 my-lg-4 d-none d-lg-block">
                <a class="navbar-brand" href="index.html">
                  <img class="img-fluid" src="{% static 'assets/img/logo/default-logo.png'%}" alt="Logo site">
                </a>
              </div>
            </div>
            <!--Right content ads-->
            <div class="col-lg-8">
              <div class="my-2 my-md-3 my-lg-4 d-none d-md-block text-center">
                <a href="#" target="_blank">
                  <img class="img-fluid bg-light" src="{% static 'assets/img/ads/728-demo2.png'%}" alt="Advertiser space">
                </a>
              </div>
            </div>
            <!--search mobile-->
            <div class="collapse navbar-collapse col-12 py-2" id="navbarTogglerDemo2">
              <form class="form-inline" action="{% static 'category/search.html'%}">
                <div class="input-group w-100 bg-white">
                  <input type="text" class="form-control border border-right-0" placeholder="Search..." aria-label="search">
                  <div class="input-group-prepend bg-light-dark">
                    <button class="btn bg-transparent border-left-0 input-group-text border" type="submit"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
            <!--end search mobile-->
          </div>
        </div>
      </div>
      <!--End second header-->
    </header>
    <!--End header-->

    <!--Main menu-->
    <div id="showbacktop" class="full-nav bg-white border-none border-lg-1 border-bottom shadow-b-sm py-0">
      <div class="container">
        <nav id="main-menu" class="main-menu navbar navbar-expand-lg navbar-light px-2 px-lg-0 py-0">
          <!--Navbar menu-->
          <div id="navbarTogglerDemo1" class="collapse navbar-collapse hover-mode">
            <!-- logo in navbar -->
            <div class="logo-showbacktop">
              <a href="index.html">
                <img class="img-fluid" src="{% static 'assets/img/logo/default-logo.png'%}" alt="Logo site">
              </a>
            </div>

            <!--left main menu start-->
            <ul id="left-main" class="navbar-nav main-nav navbar-uppercase first-left-lg-0">
              <li class="nav-item">
                <a id="navbarhome" class="nav-link active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">الصفحة الرئيسية</a>
                <!--link-->
               <!-- end link -->
              </li>
              <li class="nav-item"><a class="nav-link" href="{% static 'category/category.html'%}">أعمال</a></li>
              <!--mega menu-->
              <li class="nav-item mega-dropdown">
                <a id="navbarmega2" class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">سفر</a>

              </li>
              <!--end mega menu-->
              <!--mega menu-->

              <li class="nav-item mega-dropdown">
                <a id="navbarmega4" class="nav-link " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">سياسة</a>
                <!--content mega-->

              </li>
              <!--end mega menu-->
              <!--dropdown menu-->
              <li class="nav-item dropdown">
                <a id="navbarDropdown1" class="nav-link " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">منوعات</a>
                <!--link-->
              </li>



              <li class="nav-item mega-dropdown">
                <a id="navbarmega3" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">فيديو</a>
                <div class="dropdown-menu mega w-100 p-4" aria-labelledby="navbarmega3">
                  <div class="row">
                    <!--video post start-->
                     <article class="col-6 col-lg-3">
                      <div class="card card-full hover-a mb-4">
                        <!--thumbnail, category & icon-->
                        <div class="ratio_251-141 image-wrapper">
                          <a href="{% static 'post/single6.html'%}">
                            <img class="img-fluid lazy" src="{% static 'assets/img/assets/lazy-empty.png'%}" data-src="{% static 'assets/img/251x141/img1.jpg'%}" alt="Image description">
                            <div class="post-type-icon">
                              <span class="fa-stack-sea">
                                <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-play fa-stack-1x text-primary"></i>
                              </span>
                            </div>
                          </a>
                          <a class="position-absolute m-2 t-0 p-1 badge badge-primary" href="{% static 'category/category.html'%}">موضة</a>
                        </div>
                        <!-- title, date & comments -->
                        <div class="card-body">
                          <h3 class="card-title h6">
                            <a href="{% static 'post/single6.html'%}">جولة في محافظة الخرمة | مدينة الذهب | بوابة نجد والحجاز</a>
                          </h3>
                          <div class="card-text text-muted small">
                            <time datetime="2020-10-22">Oct 22, 2019</time>
                            <span title="122 comment" class="float-right">
                              <span class="fa fa-comments" aria-hidden="true"></span> 122
                            </span>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!--video post start-->
                     <article class="col-6 col-lg-3">
                      <div class="card card-full hover-a mb-4">
                        <!--thumbnail, category & icon-->
                        <div class="ratio_251-141 image-wrapper">
                          <a href="{% static 'post/single6.html'%}">
                            <img class="img-fluid lazy" src="{% static 'assets/img/assets/lazy-empty.png'%}" data-src="{% static 'assets/img/251x141/img1.jpg'%}" alt="Image description">
                            <div class="post-type-icon">
                              <span class="fa-stack-sea">
                                <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-play fa-stack-1x text-primary"></i>
                              </span>
                            </div>
                          </a>
                          <a class="position-absolute m-2 t-0 p-1 badge badge-primary" href="{% static 'category/category.html'%}">موضة</a>
                        </div>
                        <!-- title, date & comments -->
                        <div class="card-body">
                          <h3 class="card-title h6">
                            <a href="{% static 'post/single6.html'%}">جولة في محافظة الخرمة | مدينة الذهب | بوابة نجد والحجاز</a>
                          </h3>
                          <div class="card-text text-muted small">
                            <time datetime="2020-10-22">Oct 22, 2019</time>
                            <span title="12 comment" class="float-right">
                              <span class="fa fa-comments" aria-hidden="true"></span> 18
                            </span>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!--video post start-->
                    <article class="col-6 col-lg-3">
                      <div class="card card-full hover-a mb-4">
                        <!--thumbnail, category & icon-->
                        <div class="ratio_360-202 image-wrapper">
                          <a href="../post/single6.html">
                            <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="{% static 'assets/img/251x141/img3.jpg'%}" alt="Image description">
                            <div class="post-type-icon">
                              <span class="fa-stack-sea">
                                <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-play fa-stack-1x text-primary"></i>
                              </span>
                            </div>
                          </a>
                          <a class="position-absolute m-2 t-0 p-1 badge badge-primary" href="../category/category.html">Fashion</a>
                        </div>
                        <!-- title, date & comments -->
                        <div class="card-body">
                          <h3 class="card-title h6">
                            <a href="../post/single6.html">جولة في محافظة الخرمة | مدينة الذهب | بوابة نجد </a>
                          </h3>
                          <div class="card-text text-muted small">
                            <time datetime="2019-10-20">Oct 20, 2019</time>
                            <span title="8 comment" class="float-right">
                              <span class="fa fa-comments" aria-hidden="true"></span> 81
                            </span>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!--video post start-->
                    <article class="col-6 col-lg-3">
                      <div class="card card-full hover-a mb-4">
                        <!--thumbnail, category & icon-->
                        <div class="ratio_360-202 image-wrapper">
                          <a href="../post/single6.html">
                            <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="{% static 'assets/img/251x141/img3.jpg'%}" alt="Image description">
                            <div class="post-type-icon">
                              <span class="fa-stack-sea">
                                <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                                <i class="fas fa-play fa-stack-1x text-primary"></i>
                              </span>
                            </div>
                          </a>
                          <a class="position-absolute m-2 t-0 p-1 badge badge-primary" href="../category/category.html">موضة</a>
                        </div>
                        <!-- title, date & comments -->
                        <div class="card-body">
                          <h3 class="card-title h6">
                            <a href="../post/single6.html">جولة في محافظة  مدينة الذهب  </a>
                          </h3>
                          <div class="card-text text-muted small">
                            <time datetime="2019-10-20">Oct 20, 2019</time>
                            <span title="8 comment" class="float-right">
                              <span class="fa fa-comments" aria-hidden="true"></span> 91
                            </span>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!--end video post-->
                  </div>
                </div>
              </li>
              <!--end mega menu-->
              <!--dropdown submenu-->
              <li class="nav-item dropdown">
                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">نمط حياة</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!--sub menu-->
                  <li class="dropdown">
                    <a id="sub1" class="dropdown-item " href="#" data-toggle="" aria-haspopup="true" aria-expanded="false">مغامرة</a>
                    <!--link-->
                    </li>
                  <!--end submenu-->
                  <!--submenu-->
                  <li class="dropdown">
                    <a id="sub2" class="dropdown-item " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">موضة</a>
                    <!--link-->

                  </li>
                  <!--end submenu-->
                  <!--submenu-->
                  <li class="dropdown">
                    <a id="sub3" class="dropdown-item" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">طعام</a>
                    <!--link-->

                  </li>

                  <li class="dropdown">
                    <a id="sub4" class="dropdown-item " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">علوم</a>
                  </li>
                  <li class="dropdown">
                    <a id="sub4" class="dropdown-item " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">تقنية</a>
                  </li>
                  <li class="dropdown">
                    <a id="sub4" class="dropdown-item " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">فلك</a>
                  </li>
                </ul>
              </li>
              <!--end dropdown submenu-->
              <!--mega menu-->

              <!--end dropdown menu-->


            </ul>
            <!--end left main menu-->

            <!--Search form-->
            <div class="navbar-nav ml-auto d-none d-lg-block">
              <div class="dropdown dropleft">
                <!--button-->
                <button id="dropdownMenuButton" class="btn btn-light bg-transparent border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-search"></i>
                </button>
                <!--hide search-->
                <div class="dropdown-menu no-shadow border-0 py-0" aria-labelledby="dropdownMenuButton">
                  <form class="form-inline" action="../category/search.html">
                    <div class="input-group">
                      <input type="text" class="form-control" name="keywords" value="" placeholder="Search..." aria-label="search">
                    </div>
                  </form>
                </div>
                <!--end hide search-->
              </div>
            </div>
            <!--end search form-->
          </div>
          <!--End navbar menu-->
        </nav>
      </div>
    </div>
    <!-- End main menu -->

    <!-- sidebar mobile menu -->
    <div class="mobile-side">
      <!--Left Mobile menu-->
      <a href="#" class="back-menu">
        <span class="hamburger-icon open">
          <span></span><span></span><span></span><span></span>
        </span>
      </a>
      <nav id="mobile-menu" class="menu-mobile d-flex flex-column push push-left shadow-r-sm bg-white">
        <!-- mobile menu content -->
        <div class="mobile-content mb-auto">
          <!--logo-->
          <div class="logo-sidenav p-2">
            <a href="index.html">
              <img src="{% static 'assets/img/logo/default-logo.png'%}" class="img-fluid" alt="logo">
            </a>
          </div>
          <!--navigation-->
          <div class="sidenav-menu">
            <nav class="navbar navbar-inverse">
              <ul id="side-menu" class="nav navbar-nav list-group list-unstyled side-link">
                <li class="menu-item nav-item"><a href="#" class="nav-link active">الصفحة الرئيسية</a></li>
                <!-- dropdown menu start -->
                <li class="menu-item menu-item-has-children dropdown mega-dropdown nav-item">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link" id="menu-11">اعمال</a>
                  <!-- dropdown content -->
                  <ul class="dropdown-menu" aria-labelledby="menu-11" role="menu">
                    <li class="menu-item nav-item">
                      <a href="../category/category.html" class="dropdown-item">تجارة</a>
                    </li>
                  </ul>
                </li>
                <!-- end dropdown menu -->
                <li class="menu-item nav-item"><a href="../category/category.html" class="nav-link">اقتصاد</a></li>
                <!-- dropdown menu start -->
                <li class="menu-item menu-item-has-children dropdown mega-dropdown nav-item">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link" id="menu-12">نمط حيات</a>
                  <!-- dropdown content -->
                  <ul class="dropdown-menu" aria-labelledby="menu-12" role="menu">
                    <li class="menu-item nav-item"><a href="../category/category.html" class="dropdown-item">موضة</a></li>
                    <li class="menu-item menu-item-has-children dropdown mega-dropdown nav-item">
                      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle" id="menu-13">سفر</a>
                      <!-- dropdown submenu -->
                      <ul class="dropdown-menu" aria-labelledby="menu-13" role="menu">
                        <li class="menu-item nav-item"><a href="../category/category.html" class="dropdown-item">مغامرات</a></li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children dropdown mega-dropdown nav-item">
                      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle" id="menu-14">علوم</a>
                      <ul class="dropdown-menu" aria-labelledby="menu-14" role="menu">
                        <li class="menu-item nav-item"><a href="../category/category.html" class="dropdown-item">صحة</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <!-- end dropdown menu -->
                <!-- dropdown menu start -->
                <li class="menu-item menu-item-has-children dropdown mega-dropdown nav-item">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link" id="menu-15">رياضة</a>
                  <!-- dropdown content -->
                  <ul class="dropdown-menu" aria-labelledby="menu-15" role="menu">
                    <li class="menu-item nav-item"><a href="../category/category.html" class="dropdown-item">سيارات</a></li>
                    <li class="menu-item nav-item"><a href="../category/category.html" class="dropdown-item">كرة قدم</a></li>
                    <li class="menu-item nav-item"><a href="../category/category.html" class="dropdown-item">العاب قوى</a></li>
                    <li class="menu-item nav-item"><a href="../category/category.html" class="dropdown-item">تنس</a></li>
                  </ul>
                </li>
                <!-- end dropdown menu -->
                <li class="menu-item nav-item"><a href="../category/category.html" class="nav-link">عالمي</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- copyright mobile sidebar menu -->
        <div class="mobile-copyright mt-5 text-center">
          <p>حقوق النشر <a href="index.html"> الكلية الجامعية بالخرمة</a> - جميع الحقوق محفوظة</p>
        </div>
      </nav>
    </div>
    <!-- end sidebar mobile menu -->

    <!--Content start-->
    <main id="content">
      <div class="container">
        <div class="row">
          <!-- top section -->
          <div class="col-12 mt-05">
            <!--Slider ticker-->
            <div class="row py-2">
              <!--Breaking box-->
              <div class="col-2 col-sm-1 col-md-3 col-lg-2 py-1 pr-md-0 mb-md-1">
                <div class="d-inline-block d-md-block bg-blue text-white text-center breaking-caret py-1 px-2">
                  <span class="fas fa-bolt mr-1" title="Breaking News"></span>
                  <span class="d-none d-md-inline-block"> أخبار عاجلة</span>
                </div>
              </div>
              <!--Breaking content-->
              <div class="col-10 col-sm-11 col-md-9 col-lg-10 pl-1 pl-md-2">
                <div class="breaking-box">
                  <div id="carouselbreaking" class="carousel slide" data-ride="carousel">
                    <!--breaking news-->
                    <div class="carousel-inner">
                      <!--list post-->
                      <div class="carousel-item active aribudin">
                         <a class="h4 font-weight-light" href="#">عاجل | الدفاع الروسية: اعتراض طائرة استطلاع أميركية فوق البحر الأسود</a>
                      </div>
                      <!--list post-->
                      <div class="carousel-item aribudin">
                        <a class="h4 font-weight-light" href="#">وسائل إعلام لبنانية: وزير الداخلية يتجه للاستقالة من الحكومة غدا #عاجل</a>
                      </div>
                      <!--list post-->
                      <div class="carousel-item aribudin">
                        <a class="h4 font-weight-light" href="#">عاجل | وزير الخارجية الأميركي: سنقدم هذا الأسبوع مشروع قرار لتمديد حظر التسلح على #إيران</a>
                      </div>
                      <!--list post-->
                      <div class="carousel-item aribudin">
                        <a class="h4 font-weight-light" href="#">«التعليم» تعلن التفاصيل الكاملة لمعايير المفاضلة للترقية حتى المرتبة ال13 #عاجل</a>
                      </div>
                      <!--list post-->
                      <div class="carousel-item aribudin">
                        <a class="h4 font-weight-light" href="#"> عاجل.. حساب المواطن: بدء إيداع الدعم المخصص لشهر أغسطس للمستفيدين المكتملة طلباتهم</a>
                      </div>
                    </div><!--end breaking news-->
                    <!--navigation slider-->
                    <div class="navigation-box p-2 d-none d-sm-block">
                      <!--nav left-->
                      <a class="carousel-control-prev text-primary" href="#carouselbreaking" role="button" data-slide="prev">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <!--nav right-->
                      <a class="carousel-control-next text-primary" href="#carouselbreaking" role="button" data-slide="next">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </div><!--end navigation slider-->
                  </div>
                </div>
              </div>
            </div>
            <!--End slider ticker-->

            <!-- Single Slider -->
            <div class="row featured-one mb-5">
              <!--Start left cover-->
              <div class="col-12">
                <div id="owl-carousel11" class="owl-carousel owl-theme owl-mx-0">
                  <!--Item slider-->

                  {% for post in posts %}

                  <article class="item">
                    
                    <div class="card card-full text-light">
                      <!--thumbnail-->
                      <div class="ratio image-wrapper">


                          <a href="{{ post.get_absolute_url }}">
                          <img class="img-fluid lazy" src="{%static 'assets/img/assets/lazy-empty.png'%}" data-src= "{{post.img.url}}" alt="Image description">
                        </a>
                        <div class="position-absolute text-center pb-5 p-3 b-0 w-100 bg-lg-shadow">
                          <!--title-->
                          <a href="{{ post.get_absolute_url }}">
                            <h2 class="h1-sm h2-md display-4-lg font-weight-500 text-white">{{post.title}}</h2>
                          </a>
                          <!-- meta title -->
                          <div class="news-meta">
                            <span class="news-author">بواسطة <a class="text-white font-weight-bold" href="#">{{ post.author }} </a></span>
                            <time class="news-date" datetime="2019-10-22">{{post.created_date}}</time>
                          </div>
                        </div>

                      </div>

                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

      </div>
                  </article>

                  {% endfor %}
                  <!--Item slider-->
                  
                </div>
              </div>
              <!--End left cover-->
            </div>
            <!--End Single Slider-->
          </div>



          <!--start left column-->
          <div class="col-md-8">


          </div>

          <div class="col-md-8">
            <!-- block start -->
            <div class="block-area">
              <!-- block title -->
              <div class="block-title-6">
                <h4 class="h5 border-primary">
                  <span class="bg-blue text-white">أخر الأخبار</span>
                </h4>
              </div>
              <!-- block content -->



              <div class="border-bottom-last-0 first-pt-0">
                <!--post start-->
                {% for post in lastposts %}
                <article class="card card-full hover-a py-4">
                  <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6">
                      <!--thumbnail-->
                      <div class="ratio_360-202 image-wrapper">
                        <a href="{{ post.get_absolute_url }}">
                          <img class="img-fluid lazy" src="{%static 'assets/img/assets/lazy-empty.png'%}" data-src="{{post.img.url}}" alt="Image description">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">

                        <!--title-->
                        <h4 class="card-title h4 h4-sm h4-sm">
                          <a href="{{ post.get_absolute_url }}"> {{post.title}}</a>
                        </h4>
                        <!--author and date-->
                        <div class="card-text mb-2 text-muted small">
                          <span class="d-none d-sm-inline mr-1">
                            <a class="font-weight-bold" href="#"> {{post.author}}</a>
                          </span>
                         </div>
                        <!--description-->
                        <h3 class="card-text">{{post.text|truncatewords:30}} </h3>
                        <!-- read more button -->
                        <a class="btn btn-outline-primary" href="{{ post.get_absolute_url }}">المزيد</a>
                      </div>
                    </div>
                  </div>
                </article>
                 {% endfor %}
              </div>

              <!-- end block content -->
            </div>
            <!--end block-->

            <!--Pagination-->
            <div class="clearfix my-4">
              <nav class="float-left" aria-label="Page navigation example">
                <!--page number-->
                <ul class="pagination">

                  <li class="page-item" ><a class="page-link" href="#index">المزيد من أخر الاخبار</a></li>
                </ul>
                <!--end page number-->
              </nav>

            </div>
            <!--end pagination-->
          </div>
          <!-- end left column -->

          <!-- start right column -->




          <aside class="col-md-4 right-sidebar-lg">
            <!-- sidebar sticky start -->
            <div class="sticky">

                <!--Social network 2-->
              <aside class="widget">
                <!-- widget title -->
                 <!-- block title -->
                 <div class="block-title-6">
                  <h4 class="h5 border-primary">
                  <span class="bg-blue text-white"> شبكات اجتماعية</span>
                </h4>
                </div>
                <!-- widget content -->
                <ul class="list-unstyled social-two">
                  <li class="facebook"><a class="bg-facebook text-white" href="#" target="_blank" title="facebook">فيسبوك</a></li>
                  <li class="twitter"><a class="bg-twitter text-white" href="#" target="_blank" title="twitter">تويتر </a></li>
                  <li class="instagram"><a class="bg-instagram text-white" href="#" target="_blank" title="instagram">انستقرام </a></li>
                  <li class="youtube"><a class="bg-youtube text-white" href="#" target="_blank" title="youtube">يوتيوب </a></li>
                  <li class="linkedin"><a class="bg-linkedin text-white" href="#" target="_blank" title="linkedin">Linkedin</a></li>
                  <li class="vimeo"><a class="bg-vimeo text-white" href="#" target="_blank" title="Vimeo">Vimeo</a></li>
                  <li class="pinterest"><a class="bg-pinterest text-white" href="#" target="_blank" title="Pinterest">Pinterest</a></li>
                  <li class="telegram"><a class="bg-telegram text-white" href="#" target="_blank" title="Telegram">تليجرام</a></li>
                </ul>
                <!-- end widget content -->
                <div class="gap-15"></div>
              </aside>


              <!--widget start-->
              <aside class="widget">
                <!-- block title -->
                 <div class="block-title-6">
                  <h4 class="h5 border-primary">
                  <span class="bg-blue text-white">الأكثر قراءة</span>
                </h4>
                </div>
                <!-- block content -->
                <div class="small-post">
                  <!--post list-->
                  {% for post in posts %}
                  <article class="card card-full hover-a mb-4">
                    <div class="row">

                      <!--thumbnail-->
                      <div class="col-3 col-md-4 pr-2 pr-md-0">
                        <div class="ratio_110-77 image-wrapper">
                          <a href="{{ post.get_absolute_url }}">
                            <img class="img-fluid lazy" src="{% static 'assets/img/assets/lazy-empty.png'%}" data-src="{{post.img.url}}" alt="Image description">
                          </a>
                        </div>
                      </div>
                      <!-- title & date -->
                      <div class="col-9 col-md-8">
                        <div class="card-body pt-0">
                          <h3 class="card-title h6 h5-sm h6-md">
                            <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
                          </h3>
                          <div class="card-text small text-muted">
                            <time datetime="2019-10-16">{{post.created_date}}</time>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                 {% endfor %}
                  <!--End post list-->
                </div>
                <!--end block content-->
                <div class="gap-0"></div>
              </aside>
              <!--End widget-->

              <!-- widget start -->
              <aside class="widget">
                <!-- widget content -->
                <div class="p-4 border bg-light-dark text-center mb-4">
                  <!--title-->

                </div>
                <!-- end widget content -->
                <div class="gap-0"></div>
              </aside>

              <!-- custom post -->
              <aside class="widget">
                <div class="block-title-6">
                <h4 class="h5 border-primary">
                  <span class="bg-blue text-white"> تكنلوجيا</span>
                </h4>
              </div>
                <!--style 2-->
                <div class="small-post">
                  <!--post list-->
                  {% for post in posts %}
                  <article class="card card-full hover-a mb-2">
                    <div class="card-body pt-0">
                      <!--title-->
                      <h3 class="card-title h5">
                        <a href="#"> {{post.title}} ....</a>
                      </h3>

                       {{post.created_date}}
                      <!--date-->

                    </div>

                  </article>
                  <!--post list-->
                {% endfor%}
                </div>

                <div class="gap-0"></div>



              </aside>
                <aside class="widget">
                <div class="block-title-6">
                <h4 class="h5 border-primary">
                  <span class="bg-blue text-white"> صحة</span>
                </h4>
              </div>
                <!--style 2-->
                <div class="small-post">
                  <!--post list-->
                  {% for post in posts %}
                  <article class="card card-full hover-a mb-2">
                    <div class="card-body pt-0">
                      <!--title-->
                      <h3 class="card-title h5">
                        <a href="#"> {{post.title}} ....</a>
                      </h3>

                       {{post.created_date}}
                      <!--date-->

                    </div>

                  </article>
                  <!--post list-->
                {% endfor%}
                </div>

                <div class="gap-0"></div>



              </aside>
            </div>
            <!--end Sidebar sticky-->
          </aside>
          <!-- end right column -->
        </div>
      </div>
    </main>
    <!--End Content-->

    <!--Footer start-->
    <footer>
      <!--Footer content-->
      <div id="footer" class="footer-dark bg-dark bg-footer py-5 px-3">
        <div class="container">
          <div class="row">
            <!-- left widget -->
            <div class="widget col-md-4">
              <h3 class="h5 widget-title border-bottom border-smooth">من نحن</h3>
              <div class="widget-content">
                <img class="footer-logo img-fluid mb-2" src="{%static 'assets/img/logo/default-logo.png' %}" alt="footer logo">
               <p>         صحيفة  المشاركات والتعليقات المنشورة بأسماء أصحابها أو بأسماء مستعارة لاتمثل الرأي الرسمي لصحيفة (المواطن) الإلكترونية بل تمثل وجهة نظر كاتبها </p>

                <address><i class="fa fa-map-marker-alt"></i>مدينة الذهب <br>
                  المملكة العربية السعودية محافظة الخرمة
                </address>
                <p class="footer-info"><i class="fa fa-phone"></i> +(966)5555555555</p>
                <p class="footer-info"><i class="fa fa-envelope"></i> admin@khitab.online</p>
                <p></p>
                <div class="social mb-4">
                  <!--facebook-->
                  <span class="my-2 mr-3">
                    <a target="_blank" href="https://facebook.com" title="Facebook"><i class="fab fa-facebook fa-2x"></i></a>
                  </span>
                  <!--twitter-->
                  <span class="my-2 mr-3">
                    <a target="_blank" href="https://twitter.com" title="Twitter"><i class="fab fa-twitter fa-2x"></i></a>
                  </span>
                  <!--youtube-->
                  <span class="my-2 mr-3">
                    <a target="_blank" href="https://youtube.com" title="Youtube"><i class="fab fa-youtube fa-2x"></i></a>
                  </span>
                  <!--instagram-->
                  <span class="my-2 mr-3">
                    <a target="_blank" href="https://instagram.com" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
                  </span>
                  <!--end instagram-->
                </div>
              </div>
            </div>
            <!-- center widget -->
            <div class="widget col-sm-6 col-md-4">
              <h3 class="h5 widget-title border-bottom border-smooth">منشورات شائعة</h3>
              <div class="posts-list">
                <!--post list-->
           {% for post in posts %}
                <article class="card card-full hover-a mb-4">
                  <div class="row">
                    <!--thumbnail-->
                    <div class="col-3 col-md-4 pr-2 pr-md-0">
                      <div class="ratio_115-80 image-wrapper">
                        <a href="../post/single1.html">
                          <img class="img-fluid lazy" src="{% static 'assets/img/assets/lazy-empty.png'%}" data-src="{{post.img.url}}" alt="Image description">
                        </a>
                      </div>
                    </div>
                    <!-- title & date -->
                    <div class="col-9 col-md-8">
                      <div class="card-body pt-0">
                        <h3 class="card-title h6">
                          <a href="../post/single1.html">{{post.title}}</a>
                        </h3>
                        <div class="card-text small text-muted">
                          <time datetime="2019-10-16">{{post.created_date}}</time>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <!--post list-->
                {% endfor %}
                <!--End post list-->
              </div>
            </div>
            <!-- right widget -->
            <div class="widget col-sm-6 col-md-4">
              <h3 class="h5 widget-title border-bottom border-smooth">اختيارات المحرر
</h3>
              <div class="posts-list">
                <!--post list-->
                {% for post in posts %}
                <article class="card card-full hover-a mb-4">
                  <div class="row">
                    <!--thumbnail-->
                    <div class="col-3 col-md-4 pr-2 pr-md-0">
                      <div class="ratio_115-80 image-wrapper">
                        <a href="../post/single1.html">
                          <img class="img-fluid lazy" src="{% static 'assets/img/assets/lazy-empty.png'%}" data-src="{{post.img.url}}" alt="Image description">
                        </a>
                      </div>
                    </div>
                    <!-- title & date -->
                    <div class="col-9 col-md-8">
                      <div class="card-body pt-0">
                        <h3 class="card-title h6">
                          <a href="../post/single1.html">{{post.title}}</a>
                        </h3>
                        <div class="card-text small text-muted">
                          <time datetime="2019-10-16">{{post.created_date}}</time>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <!--post list-->
                {% endfor %}
                <!--End post list-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End footer content-->
      <!-- footer copyright menu -->
      <div class="footer-copyright bg-secondary">
        <div class="container">
          <!--Navbar-->
          <nav class="navbar navbar-expand navbar-dark px-0">
            <!--footer left menu-->
            <ul class="navbar-nav footer-nav text-center first-left-lg-0">
              <li class="nav-item"><a class="nav-link" href="../pages/about-us.html">عن الموقع</a></li>
              <li class="nav-item"><a class="nav-link" href="../pages/contact-us.html">تواصل معنا</a></li>
              <li class="nav-item"><a class="nav-link" href="../pages/term-of-use.html">الصفحة الرئيسية</a></li>

            </ul>
            <!--end footer left menu-->
            <!-- footer copyright -->
            <ul class="navbar-nav ml-auto text-center">
              <li class="d-inline navbar-text">Copyright &copy; جميع الحقوق محفوظة.</li>
            </ul>
            <!-- end footer copyright -->
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
      <!--end copyright menu-->
    </footer>
    <!-- End Footer -->
  </div>
  <!-- ========== END WRAPPER ========== -->
  <!--Back to top-->
  <a class="material-scrolltop back-top btn btn-light border position-fixed r-1 b-1" href="#"><i class="fa fa-arrow-up"></i></a>

  <!--BOOTSTRAP CUSTOMIZER PLUGIN-->
  <div id="switcher" class="d-none d-md-block">
    <!--settings-->
    <div id="theme-settings"><i class="fas fa-cog"></i></div>
    <!--title-->
    <h4 class="text-primary">Customizer</h4>
    <!-- reload -->
    <a href="javascript:window.location.reload(true)" class="position-absolute t-1 r-1" title="Reset customize"><i class="fa fa-sync-alt"></i></a>
    <div class="demo-area">
      <!--Layout style-->
      <h6>Layout Style</h6>
      <ul class="theme-starter">
        <li><a id="ly-fullwidth" class="badge border" href="#">Fullwidth</a></li>
        <li><a id="ly-boxed" class="badge border" href="#">Boxed</a></li>
        <li><a id="ly-framed" class="badge border" href="#">Framed</a></li>
      </ul>
      <!-- skin -->
      <h6>Skin style</h6>
      <ul class="theme-skin">
        <li><a id="skin-light" class="badge border" href="#">Light</a></li>
        <li><a id="skin-dark" class="badge border" href="#">Dark</a></li>
        <li><a id="skin-dark2" class="badge border" href="#">Dark Nav</a></li>
      </ul>
      <!--primary color-->
      <h6>Primary Color</h6>
      <ul class="theme-colors">
        <li><a class="blue badge" data-color="blue" title="Blue (default)" href="#"><span class="d-none">Blue</span></a></li>
        <li><a class="purple badge" data-color="purple" title="Purple" href="#"><span class="d-none">Purple</span></a></li>
        <li><a class="red badge" data-color="red" title="Red" href="#"><span class="d-none">Red</span></a></li>
        <li><a class="pink badge" data-color="pink" title="Pink" href="#"><span class="d-none">Pink</span></a></li>
        <li><a class="orange badge" data-color="orange" title="Orange" href="#"><span class="d-none">Orange</span></a></li>
        <li><a class="darkblue badge" data-color="darkblue" title="Dark Blue" href="#"><span class="d-none">Dark Blue</span></a></li>
        <li><a class="lightblue badge" data-color="lightblue" title="Light Blue" href="#"><span class="d-none">Light Blue</span></a></li>
        <li><a class="green badge" data-color="green" title="Green" href="#"><span class="d-none">Green</span></a></li>
        <li><a class="yellow badge" data-color="yellow" title="Yellow" href="#"><span class="d-none">Yellow</span></a></li>
        <li><a class="blacksoft badge" data-color="blacksoft" title="Black Soft" href="#"><span class="d-none">Black Soft</span></a></li>
      </ul>
      <!--secondary color-->
      <h6>Secondary Color</h6>
      <ul class="second-colors">
        <li><a class="black badge" data-scolor="black" title="Black (default)" href="#"><span class="d-none">Black (default)</span></a></li>
        <li><a class="red badge" data-scolor="red" title="Red" href="#"><span class="d-none">Red</span></a></li>
        <li><a class="blue badge" data-scolor="blue" title="Blue" href="#"><span class="d-none">Blue</span></a></li>
        <li><a class="pink badge" data-scolor="pink" title="Pink" href="#"><span class="d-none">Pink</span></a></li>
        <li><a class="orange badge" data-scolor="orange" title="Orange" href="#"><span class="d-none">Orange</span></a></li>
        <li><a class="darkblue badge" data-scolor="darkblue" title="Dark Blue" href="#"><span class="d-none">Dark Blue</span></a></li>
        <li><a class="lightblue badge" data-scolor="lightblue" title="Light Blue" href="#"><span class="d-none">Light Blue</span></a></li>
        <li><a class="purple badge" data-scolor="purple" title="Purple" href="#"><span class="d-none">Purple</span></a></li>
        <li><a class="green badge" data-scolor="green" title="Green" href="#"><span class="d-none">Green</span></a></li>
        <li><a class="blacksoft badge" data-scolor="blacksoft" title="Black Soft" href="#"><span class="d-none">Black Soft</span></a></li>
      </ul>
      <!--background style-->
      <h6>Background Boxed</h6>
      <ul class="bg-img">
        <li><a class="badge border" data-bg="cover" href="#"><span>Cover 1</span></a></li>
        <li><a class="badge border" data-bg="cover2" href="#"><span>Cover 2</span></a></li>
        <li><a class="badge border" data-bg="cover3" href="#"><span>Cover 3</span></a></li>
        <li><a class="badge border" data-bg="repeat" href="#"><span>Patern 1</span></a></li>
        <li><a class="badge border" data-bg="repeat2" href="#"><span>Patern 2</span></a></li>
        <li><a class="badge border" data-bg="repeat3" href="#"><span>Patern 3</span></a></li>
      </ul>
    </div>
  </div>
  <!--END BOOTSTRAP CUSTOMIZER PLUGIN-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/popper.js/dist/popper.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  <!--Vendor js-->
  <script src="{% static 'assets/vendor/sticky-kit/dist/sticky-kit.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/dist/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/vanilla-lazyload/dist/lazyload.min.js' %}"></script>
  <script src="{% static 'assets/vendor/smoothscroll-for-websites/SmoothScroll.js' %}"></script>

  <!--Bootstrap Customizer js-->
  <script src="{% static 'assets/vendor/bootstrap-customizer/js/bootstrap-customizer.js' %}"></script>
  <!--Theme js-->
  <script src="{% static 'assets/rtl/theme.js' %}"></script>



</body>

</html>