{% load static %}
<!-- Bootstrap core JavaScript
    ================================================== -->

  <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/popper.js/dist/popper.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  <!--Vendor js-->
  <script src="{% static 'assets/vendor/sticky-kit/dist/sticky-kit.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/dist/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/vanilla-lazyload/dist/lazyload.min.js' %}"></script>
  <script src="{% static 'assets/vendor/smoothscroll-for-websites/SmoothScroll.js' %}"></script>

  <!--Bootstrap Customizer js-->
  <script src="{% static 'assets/vendor/bootstrap-customizer/js/bootstrap-customizer.js' %}"></script>
  <!--Theme js-->
  <script src="{% static 'assets/rtl/theme.js' %}"></script>






<!-- Google Fonts-->
  <link href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C400i%2C600%2C700%7CRoboto%3A400%2C400i%2C500%2C700" rel="stylesheet">
  <!--Bootstrap Styles-->
  <link rel="stylesheet" href="{% static 'assets/rtl/bootstrap.css' %}">
  <!--Vendor Styles-->
  <link rel="stylesheet" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">
  <!--Theme Styles-->
  <link rel="stylesheet" href="{% static 'assets/rtl/theme.css' %}">
  <!--Bootstrap customizer-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-customizer/css/bootstrap-customizer.css' %}">
