{% extends "base.html" %}
{% load static %}





{% block urgentposts %}
{% endblock urgentposts %}


{% block carousel %}
<h1> عن الصحيفة: </h1>
  <div  align="center" >
      <div class="col-md-9">
<p style = "font-size:20px">

   المقابلات الإلكترونية – إيجابيات وسلبيات ونصائح
قد ظهرت أشكال جديدة للصحافة فبعد أن كانت حكراً على صحفيي الورق ومراسلي التلفاز والمذياع تشعبت مع التغيرات الإلكترونية والسياسية. فقد ظهرت مؤخراً مسميات جديدة – ربما لم تشع حتى الآن في السعودية – كالصحفي الرقمي والصحافة المدنية.
من أشكال العمل الصحفي الرقمي والورقي أيضاً استخدام الأدوات الرقمية في إجراء المقابلات والحصول على المعلومات. وفي هذا الموضوع نستعرض بعض الإيجابيات والسلبيات والأفكار المفيدة التي قدمها الكاتب جونثان ديوب في إحدى مقالاته التي عنونها بـ ( نصيحة من أجل المقابلات عبر الإيميل ). يقول الكاتب بأن هذه لمحة لكيفية استخدام الإيميل أو المراسلة السريعة كالمسنجر للمراسلة مع تحاشي الوقوع في التصحيحات المهينة.
يقول ديوب بأن المسنجر والإيميل يستخدمان كإحدى الوسائل الإيجابية نظر لتوفيرهما هذه العناصر :

– يوفران الوقت , فلا حاجة بإستخدامهما للبطاقات الهاتفية والإنتظار الطويل ليرد الضيف المكالمة .
– المقبلات الرقمية عملية إذ يمكن للمحرر تجهيز مقدمة كاملة وقائمة بالأسئلة وعند تعاون المصدر يتم قص ولصق إجاباته في التقارير أو بعثها بشكل تام.
– توفر سجلاً مكتوباً في حال تفنيد المصدر لأي تصريح قاله
– تعطي المصدر فرصة للتفكير وصياغة الرد
– ربما تكون وسائل أفضل لمقابلة الأفراد في مختلف المناطق ذات الأوقات المختلفة أو مع الأفراد الذين لا يتحدثون اللغة بشكل جيد ولكن بإستطاعتهم الكتابة بشكل جيد.
ولكن هناك عدد من السلبيات وهي :
– لا يمكن للمحرر معرفة من الذي قام بالرد. فقد يكون بريد المدراء تحت إشراف مستشاري العلاقات العامة أو أي شخص آخر.
– لا يتيح الإيميل الفرصة للمحرر لتوجيه أسئلة عفوية أو التعقيب على إجابة المصدر
– لابد أن تكون دقيقاً جداً في أسئلتك لأنك غير قادر على طلب تعقيبات وتوضيحات من المصدر مباشرة
– يمكن للمصدر نشر نسخ كاملة عن اللقاء عبر الإنترنت بسهولة كما تفعل وقد فعلها البعض عندما لا يشعرون بالرضى عن القصة الصحفية بشكلها المنشور
– لا تعتبر وسائل جدية لتدوين ردود الفعل العفوية. إذ لا يمكنك مشاهدة ردة فعل الشخص الجسدية تجاه السؤال. لا يمكنك سماعه أو سماع تردده ومعاناته لإيجاد الكلمة المناسبة ولا يمكنك النفاذ إلى طرقة تفكيره لأنك لا تحصل إلا على الرد النهائي.
– ربما توفر لك المقابلة الرقمية تصريحات مفيدة ولكن قد لا تعطيك مقابلة كاشفة.

نصائح :

– يمكن للإيميل البقاء للأبد. فبمجرد إرساله يمكن توزيعه على الغرباء . ولذلك لابد لك من إبقاءه محترفاً في جميع الأوقات.
– قدم نفسك كصحفي .
– طبق عليه نفس مهاراتك في الفكر النقدي والتحقق من الوقائع التي تستخدمها مع أي مصدر للمعلومة.
– نوّع مصادرك واحصل على هوياتهم المتعددة على الشبكة وتذكر بأن البريد الإلكتروني لأي شخص ربما يكون مزيفاً.
تأكيداً للنقطة الأخيرة , قام ديوب بعرض موقف محرج تعرض له أحد الصحفيين – ويدعى دان فيرتون – حين نشر مقابلة مع شخص يدعى ” أبو مجاهد ” الذي عرف نفسه كأحد عناصر تنظيم إسلامي باكستاني متطرف يدعى “حركة المجاهدين” والذي كان خلف هجوم بدودة رقمية ساهمت في تعطيل الإنترنت وقد نشرت تلك المقابلة في مجلة كمبيوتر ورلد (عالم الكمبيوتر). لقد فـُندت هذه القصة بعدما عُـلم أن أحد الصحفيين خدع الآخر وما كان أبو مجاهد هذا إلا رجل يدعى بريان ماكوليامز – 43 عاماً – أحد الصحفيين الذي اعترف بخداعه لفيرتون بهدف تعلم المراسلين الشك في الأشخاص الذين يدعون تورطهم في الإرهاب الرقمي. يقول فيرتون : ” لقد شعرت بوقوعي في الفخ, وهو شيء لا يمكن ابتلاعه بسهولة. والآن أنا هنا أحك القمل كثمن يدفع لنومي مع الكلاب ” < كناية عن طرده من العمل في المجلة.

</p>
 </div>
  </div>


{% endblock carousel %}



{% block lastNews %}
{% endblock lastNews %}


{% block leftblock %}
{% endblock leftblock %}



