{% extends "base.html" %}
{% load static %}

{% csrf_token %}



{% block urgentposts %}

{% endblock urgentposts %}




{% block carousel %}

 <div  align="center" >
      <div class="col-md-9">

<section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">تواصل معنا</h3>
          <p class="section-description">في حال رغبتكم في الاستفسار عن أحد البرامج أو الخدمات الاستشارية المقدمة، يرجى تكرما تعبئة نموذج التواصل – كما يمكن التواصل معنا عبر أي من قنوات التواصل المتاحة .</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps
      <iframe src="http://www.google.com/maps/place/%D8%A7%D9%84%D9%83%D9%84%D9%8A%D8%A9+%D8%A7%D9%84%D8%AC%D8%A7%D9%85%D8%B9%D9%8A%D8%A9+%D8%A8%D8%A7%D9%84%D8%AE%D8%B1%D9%85%D8%A9%E2%80%AD/@21.8960392,42.0017607,727m/data=!3m2!1e3!4b1!4m5!3m4!1s0x15ed241b7fe7422b:0xc9693840d6eae45c!8m2!3d21.8960342!4d42.0039494" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
-->
      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p> المملكة العربية السعودية<br>الكلية الجامعية بالخرمة</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>a.alsubai@tu.edu.sa</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>00966503220845</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="الاسم" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="البريد الالكتروني" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="الرسالة"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">ارسال</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>


    </div></div>
    </section><!-- #contact -->

{% endblock carousel %}



{% block lastNews %}
{% endblock lastNews %}


{% block leftblock %}
{% endblock leftblock %}



