{% extends "base.html" %}
{% load static %}

{% block urgentposts %}
{% endblock urgentposts %}

{% block carousel %}
{% endblock carousel %}

{% block lastNews %}

              <!-- block content -->



<!--Post video-->
          <div class="col-12 mt-1 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ydTTxhfyZIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
          </div>

          <!--content-->
          <div class="col-md-8">
            <div class="post-title mb-4">
              <!-- title -->
              <h1 class="entry-title display-4 display-2-lg mt-2">مدينة الخرمه</h1>
              <!-- atribute -->
              <div class="post-atribute mb-3">
                <div class="my-3 text-muted small">
                  <!--author-->
                  <span class="d-none d-sm-inline">
                    by <a class="font-weight-bold" href="">{{ post.author}}</a>
                  </span>
                  <!--date-->
                  <time class="ml-0 ml-sm-2 ml-md-3" datetime="2019-10-22">
                    <span class="fa fa-clock"></span> Oct 22, 2019
                  </time>
                  <!--comments-->
                  <span class="ml-2 ml-md-3" title="5 comments">
                    <a class="text-muted" href="#comments"><span class="fa fa-comments"></span> 5 Comments</a>
                  </span>
                  <!--view-->
                  <span class="ml-2 ml-md-3">
                    <span class="fa fa-eye"></span> 1.230x view
                  </span>
                </div>
                <!-- Dont-forget to replace https://www.bootstrap.news with post url -->

            </div>

            <!-- post content -->



<div class="block-title-6">
                <h4 class="h5 border-primary">
                  <span class="bg-blue text-white">  أخبار السفر</span>
                </h4>
              </div>
<br><br>

              <div class="border-bottom-last-0 first-pt-0">
                <!--post start-->
                {% for post in posts %}
                <article class="card card-full hover-a py-4">
                  <div class="row">
                    <div class="col-sm-6 col-md-12 col-lg-6">
                      <!--thumbnail-->
                      <div class="ratio_360-202 image-wrapper">
                        <a href="{{ post.get_absolute_url }}">
                          <img class="img-fluid lazy" src="{%static 'assets/img/assets/lazy-empty.png'%}" data-src="{{post.img.url}}" alt="Image description">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">

                        <!--title-->
                        <h4 class="card-title h4 h4-sm h4-sm">
                          <a href="{{ post.get_absolute_url }}"> {{post.title}}</a>
                        </h4>
                        <!--author and date-->
                        <div class="card-text mb-2 text-muted small">
                          <span class="d-none d-sm-inline mr-1">
                            <a class="font-weight-bold" href=""> بواسطة: {{post.author.get_full_name}} </a>

                            <i class="fa fa-eye" aria-hidden="true">  المشاهدات: {{post.nb_views}}</i>

                          </span>
                         </div>
                        <!--description-->
                        <h3 class="card-text">{{post.text|truncatewords:25}} </h3>
                        <!-- read more button -->
                        <a class="btn btn-outline-primary" href="{{ post.get_absolute_url }}">المزيد</a>
                      </div>
                    </div>
                  </div>
                </article>
                 {% endfor %}
              </div>

              <!-- end block content -->
            </div>
            <!--end block-->

            <!--Pagination-->
            <div class="clearfix my-4">
              <nav class="float-left" aria-label="Page navigation example">
                <!--page number-->
                <ul class="pagination">

                  <li class="page-item" ><a class="page-link" href="{% url 'index' %}">الرئيسية</a></li>
                </ul>
                <!--end page number-->
              </nav>

            </div>
            <!--end pagination-->
          </div>
              <!-- end block content -->

            <!--end block-->


            <!--Pagination-->

            <!--end pagination-->

          <!-- end left column -->
            </div></div></div></div>


          <!-- end left column -->

          <!-- start right column -->
{% endblock lastNews %}
{% block leftblock %}
{% endblock leftblock %}




