{% extends "base.html" %}
{% load static %}

{% block urgentposts %}
{% endblock urgentposts %}

{% block carousel %}
{% endblock carousel %}

{% block lastNews %}

              <!-- block content -->


<div class="block-title-6">
                <h4 class="h5 border-primary">
                  <span class="bg-blue text-white">  الفيديوهات</span>
                </h4>
              </div>
<br><br>
<!--Post video-->
          <div class="col-12 mt-1 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/ydTTxhfyZIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>


          <!--content-->
          <div class="col-md-8">
            <div class="post-title mb-4">
              <!-- title -->
              <h1 class="entry-title display-4 display-2-lg mt-2">اهالي رنيه والخرمه يستخرجون الذهب من البر .. كمية ذهب كبيره لقوها على سطح الارض</h1>
              <!-- atribute -->
              <div class="post-atribute mb-3">
                <div class="my-3 text-muted small">
                  <!--author-->
                  <span class="d-none d-sm-inline">
                    by <a class="font-weight-bold" href="">John Doe</a>
                  </span>
                  <!--date-->
                  <time class="ml-0 ml-sm-2 ml-md-3" datetime="2019-10-22">
                    <span class="fa fa-clock"></span> Oct 22, 2019       </time>
                  <!--comments-->
                  <span class="ml-2 ml-md-3" title="5 comments">
                    <a class="text-muted" href="#comments"><span class="fa fa-comments"></span> 5 Comments</a>
                  </span>
                  <!--view-->
                  <span class="ml-2 ml-md-3">
                    <span class="fa fa-eye"></span> 1.230x view
                  </span>
                </div>
                <!-- Dont-forget to replace https://www.bootstrap.news with post url -->

            </div>

            <!-- post content -->

<div class="col-12 mt-1 mb-4">
            <div class="embed-responsive embed-responsive-16by9">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/ydTTxhfyZIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
          </div>

          <!--content-->
          <div class="col-md-8">
            <div class="post-title mb-4">
              <!-- title -->
              <h1 class="entry-title display-4 display-2-lg mt-2">اهالي رنيه والخرمه يستخرجون الذهب من البر .. كمية ذهب كبيره لقوها على سطح الارض</h1>
              <!-- atribute -->
              <div class="post-atribute mb-3">
                <div class="my-3 text-muted small">
                  <!--author-->
                  <span class="d-none d-sm-inline">
                    by <a class="font-weight-bold" href="">John Doe</a>
                  </span>
                  <!--date-->
                  <time class="ml-0 ml-sm-2 ml-md-3" datetime="2019-10-22">
                    <span class="fa fa-clock"></span> Oct 22, 2019       </time>
                  <!--comments-->
                  <span class="ml-2 ml-md-3" title="5 comments">
                    <a class="text-muted" href="#comments"><span class="fa fa-comments"></span> 5 Comments</a>
                  </span>
                  <!--view-->
                  <span class="ml-2 ml-md-3">
                    <span class="fa fa-eye"></span> 1.230x view
                  </span>
                </div>
                <!-- Dont-forget to replace https://www.bootstrap.news with post url -->

            </div>

          <!-- start right column -->
{% endblock lastNews %}
{% block leftblock %}
{% endblock leftblock %}




